@using SecuDev.Models;
@using SecuDev.Helper;
@using PagedList.Mvc;
@model PagedList.IPagedList<SecuDev.Models.Board>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nowDate = Utility.GetNowDate();
    //List<Board> list = ViewBag.list;

}
<script>
    $().ready(function () {

        $("#PageSize").val("@Model.PageSize").prop("selected", true);

    })
</script>
<div>

    <div class="float-end pb-2">
        <select id="PageSize" class="form-select form-select-sm" pgcnt>
            <option selected value="10">10 건</option>
            <option value="20">20 건</option>
            <option value="30">30 건</option>
        </select>
    </div>

    <table class="table table-hover shadow-sm ">

        <thead>
            <tr>
                <th width="5%"></th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var b in Model)
                {

                    <tr role="button" href="">
                        <td class="align-middle text-center">@b.BID</td>
                        <td>
                            <div class="mb-1">
                                @b.Title
                            </div>
                            <span class="badge rounded-pill" style="background-color:@b.Category.BackgroundColor; color:@b.Category.FontColor;">
                                @b.Category.CategoryName
                            </span>
                            <small class="text-secondary">@b.Users.UserName</small>
                            <small class="text-secondary float-end me-3">@Utility.DateTimeFormat(b.InsertDate, 9)</small>
                        </td>
                    </tr>

                }
            }
        </tbody>

    </table>
    <div class="pt-3">
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, Model.PageSize }))
    </div>
</div>
<div>
    <button role="button" class="btn btn-light shadow-sm float-end text-primary" href="/Board/Edit">
        <i class="fa-solid fa-pen me-2"></i>
        글쓰기
    </button>
</div>
